body {
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: 'Archivo', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

h2 {
    color: #d1633c;
    font-size: 1.5em;
}

h3 {
    color: #d1633c;
    font-size: 1.25em;
}

.newitem {
    font-weight: bold;
    font-style: italic;
}

.price {
    color:red;
}

footer {
    border-top: 1px solid #57b1dc;  
    text-align: center;  
    padding-top: 1em; 
} 

footer img {
    width: 40px;  
    height: 40px;  
    margin-left: .5em;  
    margin-right: .5em; 
}

.page-wrap { 
    width: 98%; 
    margin: 0 auto; 
    background: url(../images/bond-paper.jpg); 
    padding: 5px 26px 0 26px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Active Menu link */
.navbar .active {
    background-color: #666;
}

/* Right-aligned link */
.navbar .right {
    float: right;
}

/* Right-aligned Active link */
.navbar .right-active {
    float: right;
    background-color: #666;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.pizza-order {
    text-align: center;
}

.pizza-order-img {
    height: 125px;
}

.gallery-img {
    width: 98%;
    /* height: 600px; */
}

.cooking-img {
    float: right;   
    margin: 0 12px;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:#333;
    text-align: center;
    cursor: pointer;
    width: 25%;
    text-decoration: none;
}

.pizza-ul { 
    list-style-type: none;
}

fieldset {
    border-color: #579cdc;
}

a { 
    color: rgb(196, 108, 108); 
    text-decoration: none; 
    border-bottom: 1px dotted #999; 
}

a:hover { 
    /* border-bottom-style: solid;  */
    color: black; 
}

/* .jen-logo {
    width:660px; 
    height:94px;
} */